 .ui-datepicker{z-index:1151 !important;}
        .sidebar {
            display: none;
        }

        .label-Price {
            display: none;
        }

        .ng-invalid {
           
        }

        .label-Margin {
            margin-right: 8px;
            margin-left: 8px;
        }
        .menuleft {
            position: absolute; 
            top: 0; 
            width: 250px; 
            margin: 0; 
            padding: 0; 
            list-style: none; 
        }
        @media(min-width:768px) {
               #wrapper {
                    padding-left: 250px;
                }

                #wrapper.toggled {
                    padding-left: 0;
                }

                #sidebar-wrapper {
                    width: 250px;
                }

                #wrapper.toggled #sidebar-wrapper {
                    width: 0;
                }

                #page-content-wrapper {
                    padding: 20px;
                    position: relative;
                }

                #wrapper.toggled #page-content-wrapper {
                    position: relative;
                    margin-right: 0;
                }
        }