<div class="jumbotron">
    <h1>Commercial</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" role="button">Commercial</a></p>
</div>
<div class="container">
    <div class="card">
            <h3 class="card-header">Searching</h3>
        <div class="card-block">
            <div class="form-horizontal">
                <div class="form-group">
                </div>
                <div class="form-group clearfix">   
                    <comboBoxTemplate [url]="'/Shipments/GetDirectionsFrom'" [text]="'From'" [(value)]="search.from"></comboBoxTemplate>
                    <comboBoxTemplate [url]="'/Shipments/GetDirectionsTo'" [text]="'To'" [(value)]="search.to"></comboBoxTemplate>
                </div>
                <div class="form-group clearfix">
                    <label class="col-md-2">Departure date:</label>
                    <div class="col-md-4">
                        <DateTimePicker [(ngModel)]="search.departureDate" ></DateTimePicker>
                    </div>
                    <label class="col-md-2">Return date:</label>
                    <div class="col-md-4">
                        <DateTimePicker  [(ngModel)]="search.returnDate" ></DateTimePicker>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-md-2">Highest price:</label>
                    <div class="col-md-2">
                      <div class="input-group">
                        <input class="form-control" [(ngModel)]="search.highestPrice" required pattern="[0-9]+" />
                        <span class="input-group-addon">$</span>                         
                      </div>
                    </div>
                    <label class="col-md-2">Smallest price:</label>
                    <div class="col-md-2">
                            <div class="input-group">
                                <input class="form-control" [(ngModel)]="search.smallestPrice" />
                                <span class="input-group-addon">$</span>
                            </div>
                 </div>
                </div>
                <button type="button"  class="btn btn-primary pull-xs-right" (click)="Search()">Search</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-5" [hidden]="!isLoad">

        </div>
        <div class="offset-sm-1 offset-md-1 col-md-9 col-sm-9" style="padding-left:15px">
            <div class="card" *ngFor="#shipment of shipments">
                <div class="card-header">
                    <h4>
                        <span class="fa fa-plane fa-3"></span>
                        <label class="label">AirPlane</label>  
                    </h4>          
                </div>
                <div class="card-block clearfix">             
                    <h3>
                        <label class="tag tag-pill tag-default">{{shipment.from}}</label>
                        <span class="fa fa-long-arrow-right fa-2"></span>
                        <label class="tag tag-pill tag-default"> {{shipment.to}}</label>
                    </h3>
                    <h6>
                        <label class="">Date:</label>
                        {{shipment.dateTimeInput | date:'yyyy-MM-dd'}}
                        <label class="">Time:</label>
                        {{shipment.dateTimeInput | date:'hh:mm'}}
                    </h6>
                </div>
                     <div class="card-footer">
                         <div class="coll-md-3 pull-right">
                            <a class="btn btn-primary" [routerLink]="['/buyTickets']">Buy</a>
                            <a class="btn btn-secondary" (click)="ShowInfo(shipment)">Info</a>
                            <a class="btn btn-info" (click)="EditInfo(shipment)">Edit</a>
                         </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="pager">
            <li [class.disabled]="search.pageIndex == 1 "><a href="javascript:void(0)" (click)="previewPage()">Preview</a></li>
            <li [class.disabled]="search.pageIndex >= search.pageCount"><a href="javascript:void(0)" (click)="nextPage()">Next</a></li>
        </ul>
    </div>
</div>