<div class="jumbotron">
    <h1>Commercial</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" role="button">Commercial</a></p>
</div>
<div class="container">
    <div class="card">
            <h3 class="card-header">Searching</h3>
        <div class="card-block">
            <form [formGroup]="myGroup" class="form-horizontal">
                <div class="form-group">
                </div>
                <div class="form-group clearfix">   
                    <comboBoxTemplate [url]="'/Shipments/GetDirectionsFrom'" [text]="'From'" [(ngModel)]="search.from" formControlName="fromfc"></comboBoxTemplate>
                    <comboBoxTemplate [url]="'/Shipments/GetDirectionsTo'" [text]="'To'" [(ngModel)]="search.to" formControlName="tofc"></comboBoxTemplate>
                </div>
                <div class="form-group clearfix">
                    <label class="col-md-2">Departure date:</label>
                    <div class="col-md-4">
                        <DateTimePicker [(ngModel)]="search.departureDate" formControlName="departureDatefc" ></DateTimePicker>
                    </div>
                    <label class="col-md-2">Return date:</label>
                    <div class="col-md-4">
                        <DateTimePicker  [(ngModel)]="search.returnDate" formControlName="returnDatefc" ></DateTimePicker>
                    </div>
                </div>
                <div class="form-group clearfix" class="form-group">
                    <label class="col-md-2">Highest price:</label>
                    <div class="col-md-2">
                      <div  [className]="myGroup.controls['highestPricefc'].dirty && !myGroup.controls['highestPricefc'].valid ? 'input-group has-danger': 'input-group'">
                        <input class="form-control form-control-danger" [(ngModel)]="search.highestPrice" formControlName="highestPricefc" />
                        <span class="input-group-addon">$</span>                         
                      </div>
                        <div *ngIf="myGroup.controls['highestPricefc'].dirty && !myGroup.controls['highestPricefc'].valid">
                            <p class="error-text"> Please, write min price </p>
                        </div>
                    </div>
                    <label class="col-md-2">Smallest price:</label>
                    <div class="col-md-2">
                        <div  [className]="myGroup.controls['smallestPricefc'].dirty && !myGroup.controls['smallestPricefc'].valid ? 'input-group has-danger' : 'input-group'">
                            <input class="form-control form-control-danger" [(ngModel)]="search.smallestPrice" formControlName="smallestPricefc" />
                            <span class="input-group-addon">$</span>
                        </div>
                        <div *ngIf="myGroup.controls['smallestPricefc'].dirty && !myGroup.controls['smallestPricefc'].valid">
                            <p class="error-text"> Please, write max price </p>
                        </div>
                    </div>
                </div>
                <button type="button"  class="btn btn-primary pull-xs-right" (click)="Search()">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-5" [hidden]="!isLoad">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
        <div class="offset-sm-1 offset-md-1 col-md-9 col-sm-9" style="padding-left:15px">
            <div class="card" *ngFor="let shipment of shipments">
                <div class="card-header">
                    <h4>
                        <span class="fa fa-plane fa-3"></span>
                        <label class="label">AirPlane</label>  
                    </h4>          
                </div>
                <div class="card-block clearfix">             
                    <h3>
                        <label class="tag tag-pill tag-default">{{shipment.from}}</label>
                        <span class="fa fa-long-arrow-right fa-2"></span>
                        <label class="tag tag-pill tag-default"> {{shipment.to}}</label>
                    </h3>
                    <h6>
                        <label class="">Date:</label>
                        {{shipment.dateTimeInput | date:'yyyy-MM-dd'}}
                        <label class="">Time:</label>
                        {{shipment.dateTimeInput | date:'hh:mm'}}
                    </h6>
                </div>
                     <div class="card-footer">
                         <div class="coll-md-3 pull-right">
                            <a class="btn btn-primary" [routerLink]="['/buyTickets']">Buy</a>
                            <a class="btn btn-secondary" (click)="ShowInfo(shipment)">Info</a>
                            <a class="btn btn-info" (click)="EditInfo(shipment)">Edit</a>
                         </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="pager">
            <li [class.disabled]="search.pageIndex == 1 "><a href="javascript:void(0)" (click)="previewPage()">Preview</a></li>
            <li [class.disabled]="search.pageIndex >= search.pageCount"><a href="javascript:void(0)" (click)="nextPage()">Next</a></li>
        </ul>
    </div>
</div>